<?xml version="1.0" encoding="UTF-8"?>

<!-- 60초마다 설정 파일의 변경을 확인하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">

	<property name="" value=""/>
	<property name="" value=""/>
	<property name="" value=""/>
	<property name="" value=""/>
	<property name="" value=""/>
	<property name="" value=""/>
	<property name="" value=""/>

</configuration>